<?xml version="1.0" encoding="UTF-8"?>
<!--
SALT log4j2 Configuration
========================
# Environment Variables
SALT_ENVIRONMENT    - System Environment (Default: DEV) (Options: PROD/DEV)
SALT_LOG_DIR        - Absolute or relative path to place the logs (Default: ./logs)
SALT_LOG_LEVEL      - Log level (Default: INFO)
SALT_ROOT_LOG_LEVEL - Root log level (Default: INFO)

# Changelogs
## Version 4
* Compress archived files as zip instead of gz
* Time-based roll-over once a day
* Add date on timestamp in log file
* Add charset of log file

## Version 3
* Add Zulu timezone

## Version 2
* Remove color overwrites for TRACE, DEBUG and INFO
* Add date on timestamp

## Version 1
* Enable environment variable overwrites
* Remove color highlighting for file log
* Enable abbreviated package name, eg. d.s.s.a.Bootstrap instead of de.salt.sce.angela.Bootstrap
* One place log for multiple services, configurable via environment variable SALT_LOG_DIR, separated by System Property
  field set by Bootstrap

-->
<Configuration status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd H:mm:ss.SSS}{GMT+0}Z %highlight{%-5level} %style{[%.70thread]}{magenta} %style{%c{1.}}{green} %n> %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile
                name="FILE"
                fileName="${env:SALT_LOG_DIR:-logs}/${sys:sce.service.name:-sce-service}/application.log"
                filePattern="${env:SALT_LOG_DIR:-logs}/${sys:sce.service.name:-sce-service}/archived/application.%d{yyyy-MM-dd}-%i.log.zip"
                ignoreExceptions="false">
            <PatternLayout disableAnsi="true" charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}{GMT+0}Z %-5level [%.70thread] %X{akkaSource} %c{1.} %n> %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="de.salt.sce" level="${env:SALT_LOG_LEVEL:-INFO}"/>
        <Root level="${env:SALT_ROOT_LOG_LEVEL:-INFO}">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE"/>
        </Root>
    </Loggers>

</Configuration>
